[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "vio_benchmark/third_party/open_vins"]
	path = vio_benchmark/third_party/open_vins
	url = https://github.com/rpng/open_vins.git
[submodule "vio_benchmark/third_party/VINS-Fusion-ROS2"]
	path = vio_benchmark/third_party/VINS-Fusion-ROS2
	url = https://github.com/zinuok/VINS-Fusion-ROS2.git
