**/build/
*.user
*.kdev4
src/sandbox/*
CMakeLists.txt.user
*.vscode/*
*/*.log
**/__pycache__/*
**/build/*
**/*.so
**/.ipynb_checkpoints/
.pkl
*.gz
*egg-info*
# Build directories and files, but not GitHub workflows
*build*
!.github/workflows/*.yml
# Ignore compiled Python bytecode files
*.pyc
# Ignore Python cache directories
__pycache__/
# Ignore environment-specific settings
.env
# Ignore editor-specific files
.idea/
# Ignore temp junk files
**/junk/

# Ignore machine_hall junk files temporarily
data/machine_hall/*
